.form-data {
    width: 20vw;
    padding: 1em;
    margin: 1em;
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

table, tr, td, th {
    border: 1px solid black;
    margin: 1em;
}

th, td {
    min-width: 100px;
    text-align: center;
}